.home{
text-align: center;
display: flex;
/* flex-direction: row; */
/* align-items: flex-start; */
/* justify-content: flex-start; */
width:100%;
}
.right{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: -1rem;
    margin-left: 2rem;
}