.tweet{
    
    height: 59vh;
    margin-top: -1rem;
    width:50vw;
}

.tweet:hover{
    background-color: rgb(240, 239, 239);
}
.box{
    border: 1px solid rgb(253, 249, 249);
    border-radius: 2rem;
    /* box-shadow: 0 0 6px hsl(210, 14%, 90%);  */
    margin: 1rem 4rem 1rem 4rem;
    max-height :fit-content;
    border-style: none;
}
.icon{
    display: flex;
    gap:5rem;
    margin-left: 5.5rem;
}
.icon:hover{
    cursor: pointer;
}
.image{
    border: 1px solid rgb(179, 177, 177);
    box-shadow: 0 0 6px hsl(210, 14%, 90%); 
    margin: 0rem 0rem 0rem 0rem;
    height:74vh;
    padding-left: 1rem;
}
.tweet>img{
    margin-top: 2rem;
    border-radius: 1rem;
}
.avatar{
    display: flex;
    gap:1rem;
    margin-top:1rem
}
span{
    margin-top: 0.5rem;
  
}
.reTweet:hover{
 color: rgb(2, 211, 113);
}