
.navContainer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00acee;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navText{
    color: white;
    background-color: transparent;
    padding: 1rem;
}
.BtnContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}
.loginBtn{
    width: 5.5em;
    height: 2.3rem;
    border: none;
    border-radius: 2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}
.loginBtn:hover{
    opacity: 0.7;
}
.loginBtn a{
    color:white;
    text-decoration: none;
}
.signupBtn{
    width: 5.5em;
    height: 2.3rem;
    border: none;
    border-radius: 2rem;
    background-color: white;
    color: black;
    cursor: pointer;

}
.signupBtn:hover{
    opacity: 0.7;
}
.signupBtn a{
    text-decoration: none;
    color: black;
}