.SidebarLink{
        display:flex;
        /* padding-left: 1rem; */
        align-items:cover;
        cursor:pointer;
        border-radius: 30px;
    }
 .SidebarLink:hover{
    background-color:#d5d7d8;
    color:hsl(240, 2%, 11%);
    transition:color 100ms ease-out;
 }
 .SidebarLink>h2{
   display: flex;
   justify-content: space-between;
    font-weight:700;
    font-size: 20px;
    margin-right:20px;
 }
 .icon{
  display: flex;
  gap:1rem;
  justify-content: center;
 }

 