.sidebar{
     width:250px;
    min-width:250px;
    padding:20px 20px;
    margin:10px auto 0 auto;
    box-shadow: 0 0 6px hsl(210, 14%, 90%); 
   
}
.sidebar > .MuiSvgIcon-root{
    padding: 20px;
}
#tweet{
    width:100%;
    width:16rem;
    background-color: hsl(203,89%,64%);
    border-radius: 20px;
    color:white;
    font-weight:700;
    text-transform: inherit;
}
